<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <a class="logo" href="/#home" (click)="scrollToSection($event, 'home')">
        <picture>
          <source srcset="/images/GAT_logo.webp" type="image/webp" />
          <img src="/images/GAT_logo.png" alt="GeoAgriTech Logo" width="324" height="100" loading="lazy" />
        </picture>
      </a>

      <p>Modern drónos permetezési megoldások precíz mezőgazdasági technológiával.</p>
    </div>

    <div class="footer-links">
      <div class="footer-column">
        <h2>Menü</h2>

        <a href="/#home" (click)="scrollToSection($event, 'home')">Főoldal</a>
        <a href="/#services" (click)="scrollToSection($event, 'services')">Szolgáltatások</a>
        <a href="/#technology" (click)="scrollToSection($event, 'technology')">Technológia</a>
        <a href="/#about" (click)="scrollToSection($event, 'about')">Rólunk</a>
        <a href="/#contact" (click)="scrollToSection($event, 'contact')">Kapcsolat</a>
        <a href="/adatkezelesi-tajekoztato/" target="_blank" rel="noopener noreferrer">
          Adatkezelési tájékoztató
        </a>

        <a href="/cookie-tajekoztato/" target="_blank" rel="noopener noreferrer">
          Cookie tájékoztató
        </a>
        <a href="/impresszum/" target="_blank" rel="noopener noreferrer"> Impresszum </a>
      </div>

      <div class="footer-column">
        <h2>Kapcsolat</h2>

        <span>+36 20 498 2807</span>
        <span>info@geoagritech.hu</span>
        <span>Magyarország</span>
      </div>
    </div>
  </div>

  <div class="footer-bottom">© 2026 GeoAgriTech. Minden jog fenntartva.</div>
</footer>
